body {
  font-family: 'Montserrat', Roboto, Helvetica, Arial, sans-serif;
}

.theme-color {
  background: #FF6A00;
  background: -webkit-linear-gradient(90.6deg, #FF6A00 0.42%, #EE0979 99.69%);
  background: linear-gradient(90.6deg, #FF6A00 0.42%, #EE0979 99.69%);
}
.theme-shadow {
  box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.15);
}
input::placeholder{
  color: #ccc
}
select > option{
  background: #FF6A00;
}
#COVID-19 {max-width: 300px;}
#s-image {max-width: 150px;}
#s-text {font-size: 30px;}
header  h1 {font-size: 80px;}
header  h2 {font-size: 50px;}

@media screen and (max-width: 480px) {
  #COVID-19 {max-width: 200px;}
  #s-image {max-width: 60px;}
  #s-text {font-size: 18px;}
  header  h1 {font-size: 50px;}
  header  h2 {font-size: 35px;}
}
